body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #dbd0fa;
}

header {
    background: #97a0ee;
    color: #031402;
    padding: 1rem;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

section {
    padding: 2rem;
}

.project {
    margin-bottom: 1.5rem;
}

.project img {
    width: 100%;
    max-width: 400px;
    height: auto;
}